<h2 class="mb-4">Products</h2>

<div class="row mb-4">
  <div class="col-md-3">
    <input type="text" class="form-control" id="searchInput" placeholder="Search products...">
  </div>
  <div class="col-md-3">
    <select class="form-select" id="categoryFilter">
      <option value="">All Categories</option>
      <option value="Electronics">Electronics</option>
      <option value="Clothing">Clothing</option>
      <option value="Home & Garden">Home & Garden</option>
      <option value="Books">Books</option>
    </select>
  </div>
  <div class="col-md-3">
    <input type="number" class="form-control" id="minPrice" placeholder="Min Price">
  </div>
  <div class="col-md-3">
    <input type="number" class="form-control" id="maxPrice" placeholder="Max Price">
  </div>
</div>

<div class="row" id="productsContainer">
  <!-- Products will be loaded here -->
</div>
